.ButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 20px;
}

.Button {
  display: block;
  width: 120px;
  height: 30px;
  border: 1;
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  color: rgb(45, 103, 210);
  font-weight: 400;
  border-radius: 10%;
  border-color: rgba(0, 0, 0, 0.278);
  background-color: rgb(191 201 219 / 69%);
  border-style: solid;
  border-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Button:hover {
  color: white;
  background-color: rgb(45, 103, 210);
}
